@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tilt Neon', cursive;
}


:root {

  /* Background Color */
  --bg-dark: #111;
  --bg-white: #fff;

  /* Text Colors */
  --primary-text: #061738;
  --secondary-color: #60cd12;
  --light-color: #e2f6de;
  --dark-color: #03262c;
  --text-white: #fff;
  --text-gray: #dee2e6;
  --anchor-color: #007aff;

  /* green color */
  --primary-green: #00ED64;
  --secondary-green: #13aa52;
  --tertiary-green: #023430;

  /*  */

  /* Font Family */
  --primary-font: 'Tilt Neon', cursive;
  --secondary-font: 'Caveat Brush', cursive;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* about page */

.about h1,
.about h2,
.about h3,
.about h4,
.about h5,
.about h6,
.about p {
    margin: 0;
}

.about h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--primary-text);
}

.about h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-text);
}

.about h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--primary-text);
}

.about h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}


.about p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--primary-text);
}



/* button */

.about .main-btn {
    background-color: #00ED64;
    color: var(--primary-text);
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px;
    border: 1px solid #111;
    border-radius: 4px;
    font-family: var(--primary-font);
    transition: 0.1s;
}

.about .main-btn:hover {
    border-radius: 30px;
}


/* navbar */
.about .eventRemainder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: var(--secondary-green);
}

.about .eventBtn {
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    font-family: var(--primary-font);
    color: var(--text-white);
}

.about nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 9;
    transition: 0.7s;
    background-color: var(--bg-white);
}

.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .navbarLogo {
    width: 70px;
    height: 50px;
    margin: 0 30px;
}

.about nav .container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about nav .container ul li {
    display: inline-block;
    margin: 0 24px;
}

.about nav .container ul li a {
    font-size: 20px;
    color: var(--primary-text);
}


/* homepage */
.about .homeContainer {
  padding-top: 20vh;
  padding-left: 30px;
  padding-right: 30px;

  min-height: 100vh;
  background: #023430;


  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;

  border-bottom-right-radius: 50%;
}

.about .informationContainer {
  max-width: 600px;
}

.about .informationContainer h1 {
  color: wheat;
  padding: 20px 0;
  font-size: 70px;
}

.about .informationContainer h3 {
  color: white;
  padding: 15px 0;
  font-size: 40px;
}

.about .informationContainer p {
  color: #ccc;
  padding: 10px 0;
  font-size: 20px;
}

.about .informationContainer span {
  font-weight: bolder;
}




/* trusties */
.about .trustContainer {
  margin: 70px 30px 50px 30px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about .investFarms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.about .trustContainer img {
  width: 200px;
  margin: 0 20px;
}



/* learnign container */
.about .learningContainer {
  box-sizing: border-box;
  margin: 70px 30px 50px 30px;
  padding: 30px 50px 30px 70px;
  border-radius: 5rem;
  min-height: 60vh;
  background: linear-gradient(to left, var(--tertiary-green), var(--secondary-green));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .learningContainer .learningInfo {
  max-width: 600px;
}

.about .learningContainer .learningInfo h3 {
  color: white;
  margin: 20px 0;
}

.about .learningContainer .learningInfo p {
  font-size: 18px;
  font-weight: bolder;
  margin: 20px 0;
}


/* developers */
.about .developers {
  padding: 50px;
  background: var(--tertiary-green);
}

.about .heading {
  text-align: center;
  margin: 30px;
  color: var(--light-color);
}

.about .developersList {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
}

.about .developer {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 20px;
  background: var(--bg-white);
  border-radius: 20px;
}

.about .developer img {
  width: 300px;
  border-radius: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}



/* footer */
.about .footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 30px 50px 30px;
  padding: 30px 50px 30px 50px;

  box-sizing: border-box;
  border-radius: 50px;
  min-height: 60vh;
  background: linear-gradient(
    to left,
    var(--tertiary-green),
    var(--secondary-green)
  );

}

.about .logoContainer {
  text-align: center;
}

.about .logoContainer img {
  width: 80px;
  margin: 0 40px;
}

.about .pageLinks ul li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bolder;
}

.about .social-icon ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
}

.about .copyright {
text-align: center;
}








/* News page */
.news h1,
.news h2,
.news h3,
.news h4,
.news h5,
.news h6,
.news p {
    margin: 0;
}

.news h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--primary-text);
}

.news h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-text);
}

.news h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--primary-text);
}

.news h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}


.news p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--primary-text);
}

.news embed,
iframe,
img,
object {
    max-width: 100%;
}

/* ::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background:var(--white); 
} 
::-webkit-scrollbar-thumb {
    background: var(--secondary-color); 
}   */



/* button */

.news .main-btn {
    background-color: #00ED64;
    color: var(--primary-text);
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px;
    border: 1px solid #111;
    border-radius: 4px;
    font-family: var(--primary-font);
    transition: 0.1s;
}

.news .main-btn:hover {
    border-radius: 30px;
}


/* navbar */
.news .eventRemainder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 5px;
    background-color: var(--secondary-green);
}

.news .eventBtn {
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    font-family: var(--primary-font);
    color: var(--text-white);
}

.news nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 9;
    transition: 0.7s;
    background-color: var(--bg-white);
}

.news .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news .navbarLogo {
    width: 70px;
    height: 50px;
    margin: 0 30px;
}

.news nav .container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.news nav .container ul li {
    display: inline-block;
    margin: 0 24px;
}

.news nav .container ul li a {
    font-size: 20px;
    color: var(--primary-text);
}


/* banner style */
.news .bannerContainer {
    width: 100%;
    min-height: 40vh;
    background-image: url(/assets/news/newsBanner/banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    padding: 50px;
    margin-bottom: 50px;
}


/* newsContainer */

.news .Heading {
    text-align: center;
}

.news .newsList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    margin: 50px;
}

.news .newsBlock {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    gap: 20px;
    /* align-items: center; */
    padding: 20px;

    background: #ccc;
    border: 1% solid var(--text-gray);
    border-radius: 20px;

    cursor: pointer;

    transition: 0.5s;
}


.news .newsBlock .imageContainer1 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer2 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer3 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer4 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer5 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer6 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer7 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point7.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer8 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point8.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer9 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point9.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer10 {
  width: 100%;
  height: 40vh;
  background-image: url(/assets/news/newsImgae/point10.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .newsBlock .imageContainer h1 {
  margin: 10px;
  color: #fff;
}


/* footer */
.news .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 30px 50px 30px;
    padding: 30px 50px 30px 50px;

    box-sizing: border-box;
    border-radius: 50px;
    min-height: 60vh;
    background: linear-gradient(
      to left,
      var(--tertiary-green),
      var(--secondary-green)
    );
  
}

.news .logoContainer {
    text-align: center;
}

.news .logoContainer img {
    width: 80px;
    margin: 0 40px;
}

.news .pageLinks ul li {
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
}

.news .social-icon ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
}

.news .copyright {
  text-align: center;
}
